{% extends "base.html" %}
{% block page_title %}Comité{% endblock %}
{% block page_css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/comite.css') }}">{% endblock %}
{% block content %}
    <div class="ccas-content">
        <h2 class="title">Comité Organizador de CCAs 2026</h2>

        <h3 class="subtitle">Integrantes</h3>

        <div class="comite-card">
            <p class="table-title" style="background-color:#FF6600;">UDG-CA-931 Educación, Tecnologías e Innovación</p>
            <p class="table-description" style="border-color: #FF6600;">
                Dra. Sandra Elizabeth Hidalgo Pérez, Dra. Martha Patricia Martínez Vargas, Dra. María Elena Meda Campaña, y<br><br>
                <strong>Presidenta del evento y de la RESDO</strong><br>
                Dra. Karen Hernández Rueda.
            </p>
        </div>

        <div class="comite-card">
            <p class="table-title" style="background-color:#009999;">UDG-CA-649 e-World y Gestión del Conocimiento</p>
            <p class="table-description" style="border-color:#009999;">
                Dr. Juan Carlos González Castolo y Dra. Silvia Ramos Cabral.
            </p>
        </div>

        <h3 class="subtitle" style="margin-top: 40px;">Comité Técnico</h3>

        <div class="comite-card">
            <p class="table-title" style="background-color:#4975b6;">CINVESTAV-GI Control y Diagnóstico de Fallas en Sistemas de Eventos Discretos</p>
            <p class="table-description" style="border-color: #4975b6;">
                Dr. Antonio Ramírez Treviño y Dr. José Javier Ruiz León.
            </p>
        </div>

        <h3 class="subtitle" style="margin-top: 40px;">Colaboradores</h3>

        <div class="comite-card">
            <p class="table-title" style="background-color:#203864;">División de Estudios Científicos y Tecnológicos<br>CUValles</p>
            <p class="table-description" style="border-color: #4975b6;">
                Dra. Eréndira Álvarez Tostado Martínez.
            </p>
        </div>

        <div class="comite-card">
            <p class="table-title" style="background-color:#203864;">Departamento de Sistemas de Información<br>CUCEA</p>
            <p class="table-description" style="border-color: #4975b6;">
                Mtro. Alejandro López Rodríguez.
            </p>
        </div>

        <div class="comite-card">
            <p class="table-title" style="background-color:#203864;">Soporte técnico</p>
            <p class="table-description" style="border-color: #4975b6;">
                Mtro. Javier Claustro Bobadilla.
            </p>
        </div>

        <div class="display-group-tables">
            <div class="margin-text-aligned-table">
                <div class="comite-card" style="height: 100%;">
                    <p class="table-title" style="background-color:#203864;">UDG-CA-539 Análisis e Implementación de<br>Sistemas</p>
                    <p class="table-description" style="border-color: #203864; height: 100%;">
                        Dra. Alejandra Gómez Padilla y Dra. Griselda Pérez Torres.
                    </p>
                </div>
            </div>
            <div class="margin-text-aligned-table">
                <div class="comite-card" style="height: 100%;">
                    <p class="table-title" style="background-color:#203864;">UDG-CA-321 Contabilidad, Finanzas,<br>Formación y Gestión de la Contaduría Pública</p>
                    <p class="table-description" style="border-color: #203864; height: 100%;">
                        Dra. Mónica Araceli Reyes Rodríguez y Dra. Martha Sheila Gómez González.
                    </p>
                </div>
            </div>
        </div>

        <div class="display-group-tables">
            <div class="margin-text-aligned-table">
                <div class="comite-card" style="height: 100%;">
                    <p class="table-title" style="background-color:#203864;">UDG-CA-610 Estudios<br>Organizacionales y Productividad</p>
                    <p class="table-description" style="border-color:#203864; height: 100%;">
                        Dra. Martha Karina Amezcua Luján, Dra. Ma. Patricia Rivera Espinoza y J. Jesús Torres Barragán.
                    </p>
                </div>
            </div>
            <div class="margin-text-aligned-table">
                <div class="comite-card" style="height: 100%;">
                    <p class="table-title" style="background-color:#203864;">UDG-CA-722 Sistemas y Gestión<br>de la Información</p>
                    <p class="table-description" style="border-color: #203864; height: 100%;">
                        Dr. José de Jesús Jiménez Arévalo y Dr. Adauto Alejandro Casas Flores.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}