{% extends "base.html" %}
{% block page_title %}Programa{% endblock %}
{% block page_css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/programa.css') }}">{% endblock %}
{% block content %}
    <div class="ccas-content">
        <h2 class="title-orange">Programa del evento</h2>

        <p class="subtitle-blue">(Próximamente: Programa detallado)</p>

        <div class="letrero-azul">Lunes 29 de junio a viernes 3 de julio</div>

        <div class="contenedor-programa-imagenes">
            <img alt="Programa parte 1" src="https://ccas.cucea.udg.mx/sites/default/files/2026-05/programa1.jpeg">
            <img alt="Programa parte 2" src="https://ccas.cucea.udg.mx/sites/default/files/2026-05/programa2.jpeg">
        </div>

        <h2 class="title-grey">Enlace del evento por día (YouTube)</h2>

        <div class="enlaces-youtube">
            <a class="boton-dia-activo" href="https://youtube.com/live/nCZSppFK-cI?feature=share" target="_blank">Lunes 29 de junio</a>
            <a class="boton-dia-activo" href="https://youtube.com/live/husT2zPK2Ds?feature=share" target="_blank">Martes 30 de junio</a>
            <a class="boton-dia-activo" href="https://youtube.com/live/uyUSmKjxL64?feature=share" target="_blank">Miércoles 1° de julio</a>
            <a class="boton-dia-activo" href="https://youtube.com/live/DQcBeiIUdiY?feature=share" target="_blank">Jueves 2 de julio</a>
            <a class="boton-dia-activo" href="https://youtube.com/live/0MBCjaeDPEY?feature=share" target="_blank">Viernes 3 de julio</a>
        </div>
    </div>
{% endblock %}