{% extends "base.html" %}
{% block page_title %}Registro{% endblock %}
{% block page_css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/registro.css') }}">{% endblock %}
{% block content %}
    <div class="ccas-content">
        <h2 class="title">Registro como asistente o ponente</h2>

        <p class="warning-text">El registro solamente se puede realizar una vez, si no tiene la información completa no lo haga, pero puede ver su contenido.</p>

        <h3 class="section-title"><strong>Asistentes</strong></h3>
        <p class="section-subtitle">A partir de la convocatoria y hasta el 22 de junio</p>
        <a class="button-form" href="https://form.jotform.com/232768595536876" target="_blank">Registro como asistente (click)</a>

        <h3 class="section-title"><strong>Ponentes</strong></h3>
        <p class="section-subtitle">Someter ponencia a partir de la apertura de la convocatoria y hasta el 26/may/26</p>
        <a class="button-form" href="https://form.jotform.com/232768577786883" target="_blank">Someter ponencia (click)</a>

        <p class="section-subtitle">Registrar su ponencia a partir del 1° de junio y hasta el 12 de junio</p>
        <a class="button-form button-disabled">Registro de ponencia (apertura 1°junio)</a>
    </div>
{% endblock %}